body {
    background: #A8DADC;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    color: #8C8A93;
    font-size: 18px;
    line-height: 1.6em;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #457B9D;
    font-size: 20px;
    font-color: #33658A;
}

h2 {
    font-size: 18px;
    font-weight: 250;
    font-family:'Titillium Web', sans-serif;
    font-color: #C880B7;
}

h3 {
    font-size: 18px;
    font-weight: 250;
    font-color: #86BBD8;
}

p {
    text-align: justify;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #DD5555;
    text-decoration: none;
}


/* First simple components */

.container {
    width: 1000px;
    margin: 30px auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.img-circle {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.list-inline {
    padding-left: 0;
}

.list-inline li {
    display: inline-block;
    padding: 18px;
}

.list-inline li i {
    font-size: 25px;
}

.btn-blue {
    background-color: #DD5555;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: #C61414;
    color: white;
}

.movie_img {
    width: 400px;
    height: 300px;
}

.fav_movie {
    color: #33658A;
}


/* Specific CSS rules */

#img-profile {
    width: 180px;
    height: 180px;
    border: 2px solid #cccccc;
}

#movies {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6em;
}




